/* 把我们所有标签的内外边距清零 */
* {
    margin: 0;
    padding: 0;
    /* css3盒子模型 */
    box-sizing: border-box;
}

/* em 和 i 斜体的文字不倾斜 */
em,
i {
    font-style: normal
}

/* 去掉li 的小圆点 */
li {
    list-style: none
}

img {
    /* border 0 照顾低版本浏览器 如果 图片外面包含了链接会有边框的问题 */
    border: 0;
    /* 取消图片底侧有空白缝隙的问题 */
    vertical-align: middle
}

button {
    /* 当我们鼠标经过button 按钮的时候，鼠标变成小手 */
    cursor: pointer
}

span {
    color: var(--font-color-gray1);
}

a {
    color: #666;
    text-decoration: none;
    cursor: pointer;
    transition: color .3s ease, background-color .3s ease;
}

router-link {
    color: #666;
    text-decoration: none;
    transition: color .3s ease, background-color .3s ease;
}

button,
input {
    /* "\5B8B\4F53" 就是宋体的意思 这样浏览器兼容性比较好 */
    font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
    /* 默认有灰色边框我们需要手动去掉 */
    border: 0;
    outline: none;
}

body {
    /* CSS3 抗锯齿形 让文字显示的更加清晰 */
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
    color: #666;
}

.hide,
.none {
    display: none
}

/* 清除浮动 */
.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0
}

/*简约滑条*/
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgb(179, 177, 177);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:active {
    background: rgb(68, 68, 68);
    border-radius: 10px;
}

:root {
    --bgc1: #e4e4e4;
    --bgc2: #ccc;
    --bgc3: #f6f7f8;
    --bgc4: #e3e5e7;
    --bgc5: #f1f2f3;
    --bgc6: #f3f5f7;
    --bgc7: #eee;
    --bgc8: #e5e9ef;
    --white: #fff;
    --black: #000;
    --hover-blue: #00aeec;
    --cur-blue: #00a1d6;
    --font-color-black: #18191c;
    --font-color-black2: #222;
    --font-color-gray1: #9499a0;
    --font-color-gray2: #61666d;
    --font-color-gray3: #99a2aa;
    --line_regular: #e3e5e7;
    --font-color-red: #d0021b;
    --pink: rgb(251, 114, 153);
}

/* 相对位置 */
.rpos {
    position: relative;
}

/* 绝对位置左下角 */
.pos-left-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
}

/* 绝对位置左上角 */
.pos-left-up {
    position: absolute;
    top: 0;
    left: 0;
}

/* 弹性布局纵向 */
.flex-col {
    display: flex;
    flex-direction: column;
}

/* 弹性布局横向 */
.flex-row {
    display: flex;
    flex-direction: row;
}

/* 弹性布局纵向拉伸 */
.flex-col-st {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

/* 弹性布局横向，副轴居中 */
.flex-row-ac {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* 弹性布局纵向，副轴居中 */
.flex-col-ac {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 弹性布局纵向，副轴靠左 */
.flex-col-al {
    display: flex;
    flex-direction: column;
    align-items: start;
}

/* 弹性布局space-between（需要已经开启弹性布局） */
.jc-spb {
    justify-content: space-between;
}

/* 弹性布局start（需要已经开启弹性布局） */
.jc-start {
    justify-content: start;
}

/* 弹性布局end（需要已经开启弹性布局） */
.jce {
    justify-content: end;
}

/* 弹性布局center（需要已经开启弹性布局） */
.jcc {
    justify-content: center;
}

/* 超出限制的文本用省略号表示 */
.nto {
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.nto1 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    line-break: anywhere;
}
/* 超过1行则换行 */
.new-nto-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    line-break: anywhere;
}

/* 超过两行则换行 */
.nto2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    line-break: anywhere;
}

.ps {
    overflow: hidden !important;
    overflow-anchor: none;
    touch-action: auto;
}

.forbid-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.c-icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.be-dropdown-menu {
    z-index: 10;
    padding: 6px 0;
    background-color: #fff;
    border: 1px solid #e5e9ef;
    border-radius: 4px;
}

.be-dropdown-item {
    height: 40px;
    padding: 0 20px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    color: var(--font-color-black2);
    box-sizing: border-box;
    transition: all 0.2s ease;
    cursor: pointer;
}

.be-dropdown-item:hover {
    background-color: var(--bgc4);
    color: var(--hover-blue);
}

.video-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;

    .img {
        position: relative;
        width: 100%;
        height: 147px;
        background-color: var(--bgc1);
        border-radius: 8px;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .video-info {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 10px;
            width: 100%;
            height: 25px;
            bottom: 0;
            background-image: linear-gradient(to top,
                    rgba(0, 0, 0, 0.4),
                    rgba(0, 0, 0, 0));

            span {
                font-size: 13px;
                color: var(--white);
            }
        }
    }

    .title {
        height: 44px;
        padding-right: 30px;
        font-size: 15px;

        a {
            font-weight: normal;
            color: var(--font-color-black);
            transition: color 0.3s ease;
        }

        a:hover {
            color: var(--hover-blue);
        }
    }

    .up-time {
        height: 17px;
        margin-top: 4px;
        line-height: 17px;

        a, span {
            font-size: 13px;
            color: var(--font-color-gray1);
            transition: color 0.3s ease;
        }
    }
    .up-time:hover a,
    .up-time:hover,
    .up-time:hover span{
        color: var(--hover-blue);
    }
}